footer {
    background: #71acf6;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.shopHeader {
    font-size: 1.5em;
}

.shopping-bag {
    position: relative;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    font-size: small;
    color: black;
}

footer a {
    color: white;
}
