body {
    font-family: "Helvetica Neue", sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

button:focus {
    outline: none;
}

.initial {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
