.orderSummary {
    padding: 20px;
}

.orderSummary table {
    border: 1px solid black;
    margin: 0 auto;
    border-spacing: 10px;
}

.orderSummary table th {
    background: white;
    padding: 10px;
}

.orderSummary table td {
    background: white;
    padding: 10px;
    text-align: right;
}
