.cart-card {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #dfdfdf;
}

.cart-card p {
    padding: 10px;
}
