.details {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medicine-card {
    padding: 20px;
    box-shadow: 0 0 5px 2px #a7a7a7;

}

.medicine-card > * {
    margin: 20px 5px;
}

button[type="submit"] {
    padding: 8px;
    border-radius: 15px;
}

button[type="submit"]:hover {
    background: #71acf6;
    color: white;
}

.name {
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;
}

