.cart {
    width: 80%;
    margin: 0 auto;
    flex: 2;
    text-align: center;
}

.cartList {
    margin-top: 20px;
}

.cart-total {
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
}

.total {
    justify-self: right;
}

.cart-empty img {
    width: 50%;
    height: auto;
    color: black;
}

.cart-empty {
    color: #da3d4b;
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .cart-empty img {
        margin-top: 15%;
        width: 80%;
        height: auto;
        color: black;
    }
}
