.dashboard {
    flex: 1 auto;
}

h2 {
    padding: 20px;
    background: #71acf6;
    color: white;
    text-align: center;
}

.transactions {
    margin: 20px auto;
    max-width: 300px;
    padding: 10px;
    min-width: 200px;
    box-shadow: 0 0 5px 2px #a7a7a7;
}

.transactions .heading {
    background: #da3d4b;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.transactions-list {
    margin: 10px;
}



