.shop {
    flex: auto;
    overflow-y: auto;
}

.search {
    text-align: center;
    padding: 20px;
    background: lightblue;
}

.search > * {
    margin: 0 10px;
}

.search-bar {
    height: 2rem;
    width: 30%;
    border-radius: 10px;
}

.last-ordered {
    margin: 20px auto;
    text-align: center;
    width: 60%;
    height: 30%;
}



.shopLinks {
    height: 100px;
    text-align: center;
}

.shopLinks button {
    height: 50px;
    margin: 20px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px darkgray;
}

.shopLinks button:hover {
    box-shadow: 0 0 5px 5px gray;
}

.shopList {
    width: 1000px;
    background: gold;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}


